@page "/frequency/{id:int}"
@inject IDataService data


<RayInput @bind-newRayText="newRayText" RayCast="@RayCast"/>

<div class="spinner-border" role="status" hidden="@hideLoading">
    <span class="sr-only">Loading...</span>
</div>

@if (hideLoading)
{
    foreach (var ray in data.Rays)
    {
        <p>
            <RayItem ray="@ray" />
        </p>
    } 
}

@code{
    [Parameter]
    public int Id { get; set; }

    public string newRayText { get; set; }

    public bool hideLoading { get; set; } = false;

    protected override void OnParametersSet()
    {
        data.UpdatedRays += UpdateForNewRays;
        data.SelectedFrequency = Id;
    }

    void UpdateForNewRays()
    {
        this.hideLoading = true;
        if (!data.Rays.Any(r => r.UserName == data.CurrentUser.Name))
        {
            newRayText = $"Hello, My Name is {data.CurrentUser.Name}";
        }
        StateHasChanged();
    }

    void RayCast()
    {
        this.hideLoading = false;
    }
}
